@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.cdnfonts.com/css/shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header__image {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header2 {
  position: relative;
}
.header2__arrow {
  position: absolute;
  left: 20px;
  font-size: 25px;
  color: black;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 5px;
  background-color: #eaeaea;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}
.location__icon {
  margin: 10px 10px 10px 0px;
}
.location__content {
  margin: 15px 15px 11px 0px;
}
.location__content a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.reservation {
  text-align: center;
  background: #f6f6f6;
  padding-top: 27px;
  padding-bottom: 78px;
}
.reservation__content {
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px 0px 10px;
  font-size: 25px;
}
.reservation__title {
  justify-content: center;
  margin: 0px 0px 10px 0px;
  font-size: 30px;
  font-weight: 800;
  padding-top: 20px;
  font-family: "Shrikhand", sans-serif;
}
.reservation__subtitle {
  margin: 0px 15px 18px;
}
.reservation__button {
  background-image: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 30px;
  height: 60px;
  border: none;
  min-width: 230px;
  max-width: 356px;
  width: 70%;
  box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.1803921569);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.reservation__button__text {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}
.reservation__button:hover {
  cursor: pointer;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation: flash 1.5s;
  box-shadow: 5px 15px 21px rgba(0, 0, 0, 0.5019607843);
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.6rem;
  margin-top: 59px;
  margin-bottom: 30px;
}
.section .item {
  padding-left: 6px;
  padding-right: 6px;
}
.section .item__content {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 15px 0px 20px 0px;
  box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.1803921569);
  justify-content: flex-start;
}
.section .item__content__text {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.section .item__content__number {
  background-color: #9356DC;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .item__content__icon {
  color: #7e7e7e;
}
.section .item :hover {
  background-color: #f7edff;
  cursor: pointer;
}
.section .item :hover .item__content__icon {
  color: #9356DC;
}
.section .item__content div {
  position: relative;
  left: -10px;
  margin: 0px 20px 0px 0px;
}
@media screen and (min-width: 768px) {
  .section .section__title {
    text-align: center;
  }
  .section .bloc-item {
    display: flex;
    justify-content: space-between;
  }
  .section .content-restaurant {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: repeat(3, 1fr); */
    justify-items: center;
    overflow-x: hidden;
  }
}

#restaurants {
  background-color: #f6f6f6;
}
#restaurants .section__title {
  padding-top: 41px;
  /* background-color: #009679; */
  margin-top: 65px;
}

.content-restaurant {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  overflow-x: hidden;
}

.restaurant-card {
  width: 97%;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.1803921569);
  overflow: hidden;
  height: 305px;
}
.restaurant-card:hover {
  box-shadow: 5px 6px 7px rgba(53, 51, 51, 0.4745098039);
}
.restaurant-card a {
  text-decoration: none;
}
.restaurant-card__image {
  height: 220px;
  position: relative;
}
.restaurant-card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurant-card__badge-new {
  width: 81px;
  align-content: center;
  height: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  right: 17px;
  background-color: #99E2D0;
  color: #009679;
  padding: 9px 11px 0px 4px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
}
.restaurant-card__title-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 1.2rem;
  font-family: "Roboto";
  padding-left: 14px;
  padding-right: 40px;
  margin-bottom: -16px;
  margin-top: -8px;
}
.restaurant-card__heart {
  display: inline-block;
  position: relative;
}
.restaurant-card__heart i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  color: black;
  transition: all 0.5s ease;
}
.restaurant-card__heart i:last-child {
  color: #9356DC;
  font-size: 0px;
}
.restaurant-card__heart:hover i:first-child {
  font-size: 0px;
}
.restaurant-card__heart:hover i:last-child {
  font-size: 1.7rem;
}
.restaurant-card__subtitle {
  font-size: 1.27rem;
  color: black;
  margin: 0;
  padding-left: 14px;
  font-family: "Roboto", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #353535;
  padding-left: 30px;
  padding-top: 37px;
}
.footer__title {
  text-decoration: none;
  color: white;
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding-bottom: 30px;
  display: block;
}
.footer__content__item {
  padding: 5px 0px 5px 0;
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
}
.footer__content__item a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
.footer__content__item a:nth-child(2) {
  padding-left: 10px;
}

.hero {
  height: 300px;
}
.hero__image {
  height: 100%;
}
.hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.subhero {
  padding-left: 25px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  top: -86px;
  background: #f6f6f6;
  border-radius: 41px 40px 0px 0px;
  padding-top: 20px;
}
.subhero__title-bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subhero__title-bloc span {
  padding-right: 30px;
}
.subhero__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.6rem;
}

.menus {
  background-color: #f6f6f6;
  padding: 0px 15px 0px 15px;
  font-family: "Roboto", sans-serif;
  margin-top: -107px;
  padding-bottom: 100px;
}
.menus__item {
  display: flex;
  position: relative;
  margin: 10px 0 10px 0;
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50px);
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  /*

  &:nth-child(1) {
      animation-delay: 0.2s;
    }

  &:nth-child(2) {
      animation-delay: 0.4s;
    }

  &:nth-child(3) {
      animation-delay: 0.6s;
    }
      */
}
.menus__item:nth-child(1) {
  animation-delay: 0.2s;
}
.menus__item:nth-child(2) {
  animation-delay: 0.4s;
}
.menus__item:nth-child(3) {
  animation-delay: 0.6s;
}
.menus__item:hover {
  display: flex;
  cursor: pointer;
}
.menus__item:hover .menus__contents {
  width: 85%;
}
.menus__item:hover .menus__icons {
  display: flex;
  width: 15%;
  background-color: #7ce4d3;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  transform: translateX(0);
}
.menus__item:hover .rota {
  transform: rotate(360deg);
  transition-duration: 1s;
}
.menus__icons {
  width: 20%;
  height: 100%;
  display: flex;
  transition: width 0.5s ease-out, transform 0.5s ease-out;
  position: absolute;
  background-color: #7ce4d3;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  right: 0;
  transform: translateX(100%);
}
.menus__contents {
  background-color: white;
  padding-top: 13px;
  width: 100%;
  transition: width 0.5s ease-out;
}
.menus__contents__title {
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 0px 20px 0px 15px;
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 76%;
}
.menus__contents__details {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 15px;
  font-size: 1.1rem;
}
.menus__contents__details__subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85%;
}
.menus__box__title-bloc {
  padding-left: 15px;
}
.menus__box__title {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 5px;
  width: 10%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menus h4 {
    text-align: center;
  }
  .menus_box-bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .reservation__button {
    flex: none;
  }
  .menus__box {
    width: 49%;
  }
}
@media screen and (min-width: 1201) {
  .menus h4 {
    text-align: center;
  }
  .menus_box-bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .reservation__button {
    flex: none;
  }
  .menus__box {
    width: 49%;
  }
}
@media screen and (min-width: 1200px) {
  .menus h4 {
    text-align: center;
  }
  .menus_box-bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .reservation__button {
    flex: none;
  }
  .menus__box {
    width: 33%;
  }
}/*# sourceMappingURL=style.css.map */