$color : (
    "primary" : #9356DC, 
    "secondary" :#FF79DA,
    "tertiaire" : #99E2D0,
     "gray" : #eaeaea,
     "white" : #fff
);

$breakpoint : (    
    xs : 0,
    sm : 576px,
    md : 768px, 
    lg : 992px, 
    xl : 1200px,
    xxl : 1400px
);

$font-family-title : "Shrikhand", sans-serif;

$font-family-text : "Roboto", sans-serif;

