.subhero{
    padding-left: 25px;
    padding-right: 10px;
    position: relative;
    z-index: 1;
    top: -86px;
    background: #f6f6f6;
    border-radius: 41px 40px 0px 0px;
    padding-top: 20px;
    &__title-bloc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            padding-right: 30px;
        }
    }
    &__title{
        font-family: "Shrikhand", sans-serif;
        font-size: 1.6rem;
    }
}

.menus{
    background-color: #f6f6f6;
    padding: 0px 15px 0px 15px;
    font-family:$font-family-text;
    margin-top: -107px;

    &__item{
        margin: 10px 0 10px 0;
        border-radius: 12px 12px 12px 12px;
        overflow: hidden;

    }
    &__contents{
            &__title{
                margin-top: 0px;
                margin-bottom: -10px;
                padding: 0px 20px 0px 15px;
                font-size: 1.3rem;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 76%;
            }
            background-color: white;
            padding-top: 13px;
            &__details{
                display: flex;
                justify-content: space-between;
                padding: 0px 20px 0px 15px;
                font-size: 1.1rem;
                &__subtitle{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 85%;
                }
            }
        }

        &__box{
            &__title-bloc{  
                padding-left: 15px;
            }
            &__title{
            border-bottom: 2px solid map-get($map: $color, $key:tertiaire);
            padding-bottom: 5px;
            width: 10%;
        }
    }

    }